html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #fdcc52;
  -webkit-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #222222;
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #fdcc52;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand .brand-container {
  width: 200px;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: white;
  border-color: #adadad;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#mainNav .navbar-toggler:hover {
  color: #adadad;
  border-color: #9b9b9b;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: white;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: white;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: fade(white, 70%);
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }
}

header.masthead {
  position: relative;
  width: 100vw;
  height: calc(100vh - 56px);
  color: white;
  background: url("../img/background.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

header.masthead .heading-wrapper {
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 25px;
}

header.masthead .bg-darken {
  background-color: rgba(0, 0, 0, 0.7);
}

.content-wrapper {
  height: 85%;
  overflow: auto;
}

.close-btn-wrapper {
  height: 60px;
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 50px;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .heading-wrapper {
    padding-bottom: 100px;
  }
  .content-wrapper {
    height: 95%;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
}

#speaker-photo-wrapper {
  max-width: 95vw;
  padding: 30px;
}

#speaker-photo-wrapper img {
  display: block;
}

#discover h1 {
  font-size: 50px;
  margin-top: 0;
}

.activity-item {
  max-width: 325px;
  margin: 0 auto;
}

.activity-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.activity-item h3 {
  font-size: 30px;
}

.activity-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq-body h4 {
  font-weight: bold;
}

.faq-body p {
  padding: 0 3%;
}

#team-photo {
  padding: 25px 0;
}

#team-photo img {
  width: 100%;
}

.prev-tour-wrapper {
  width: 75%;
  max-width: 600px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  height: 50px;
  padding: 10px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
}

@media (max-width: 575px) {
  footer {
    height: 100px;
  }
  .text-center-sm {
    text-align: left;
  }
}

footer p {
  font-size: 16px;
}

footer hr {
  border-color: rgba(255, 255, 255, 0.3);
}

footer ul.list-social {
  margin-bottom: 0;
}

footer ul.list-social li a {
  font-size: 18px;
  line-height: 20px;
  display: block;
  width: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.social-twitter a:hover {
  color: #1da1f2;
}

.social-facebook a:hover {
  color: #3b5998;
}

.social-instagram a:hover {
  color: #bc2a8d;
}

.social-youtube a:hover {
  color: #c4302b;
}

.bg-primary {
  background: #fdcc52;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdcc52), to(#fdc539));
  background: linear-gradient(#fdcc52, #fdc539);
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #fdcc52;
  background-color: #fdcc52;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}
