<div class="row">
    <div class="col-12 order-1 col-md-4 order-md-2" style="padding: 20px">
      <a href="http://www.astro.utoronto.ca/" target="_blank"><img src="../../img/sponsors/daa-black.png" alt="Department of Astronomy and Astrophysics logo"></a>
    </div>
    <div class="col-12 order-3 col-md-4 order-md-1" style="padding: 20px">
      <a href="http://www.cita.utoronto.ca/" target="_blank"><img src="../../img/sponsors/cita-black.png" alt="Canadian Institute for Theoretical Astrophysics logo"></a>
    </div>
    <div class="col-12 order-2 col-md-4 order-md-3" style="padding: 20px">
      <a href="http://www.dunlap.utoronto.ca/" target="_blank"><img src="../../img/sponsors/dunlap-black.png" alt="Dunlap Institute for Astronomy and Astrophysics logo"></a>
    </div>
  </div>
