<br>
<br>
<div class="row text-center">
    <div class="col-12 my-auto">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="activity-item">
              <i class="fas fa-chalkboard-teacher fa-8x text-primary"></i>
              <h3 style="padding-top: 10px;">Public Talk</h3>
              <p class="text-muted">A 45-minute presentation on a topic in astronomy</p>
            </div>
          </div>
          <div class="col">
            <div class="activity-item">
              <i class="fab fa-wpexplorer fa-8x text-primary"></i>
              <h3 style="padding-top: 10px;">Telescope Viewing</h3>
              <p class="text-muted">See the stars through the telescopes in our observatory (weather permitting)</p>
            </div>
          </div>
          <div class="col">
            <div class="activity-item">
              <i class="fas fa-gamepad fa-8x text-primary"></i>
              <h3 style="padding-top: 10px;">Interactive Media</h3>
              <p class="text-muted">Oculus Rift, Worldwide Telescope, and 3D-printed models</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>